.arch-panel {
    flex-grow: 1;
}

.layer-list {
    display: flex;
    flex-direction: column;
}

.layer {
    display: flex;
    flex-wrap: wrap;
    height: 75px;
    width: 75px;
    margin-bottom: 10px;
    border: solid black 2px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.feature {
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: #2195da;
    border: solid black 1px;
    border-radius: 25px;
    cursor: pointer;
}

.feature:hover{
    background-color: #e9e9a6;
}

.feature:nth-child(5n) {
    flex-basis: 13.5%;
}